.cospace_container{
    padding: 0 20px;
}

.deployment_desc{
    width: 90%;
    margin-right: 20px;
    padding: 15px 15px;
    background-color: #2D2D2D;
    border: 1px;
    border-radius: 5px;
    color: white;
}

.deployment_desc::placeholder {
    color: rgb(201, 201, 201);
    opacity: 1; /* Firefox */
    font-family: 'Poppins';
}

.deployment_desc:focus{
    outline: none;
}

.cospace_meet{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cospace_creds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.meet_join_button{
    font-family: 'Poppins';
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    border-radius: 10px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table thead {
    background-color: #9D2062;
  }
  
  .custom-table th {
    color: white;
  }
  .cospace_table_button{
    color: white;
    background-color: #5EDB63;
    outline: none;
    border: 1px solid #5EDB63;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    margin: 20px;
    cursor: pointer;
  }

  .narrow_column{
    width: 250px;
  }